* {
    font-family: Calibri, Consolas, Arial, 'Courier New', sans-serif;
    color: black;
}
body {
    margin: 0;
    background-color: hsl(0, 0%, 80%);
    text-align: center;
}
.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: hsl(0, 0%, 90%);
}
a, button {
    font-size: 15px;
    padding: 5px;
    margin: 3px;
    width: 60vw;
    background-color: hsl(0, 0%, 90%);
    transition: 75ms;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
a:hover, button:hover {
    background-color: hsl(0, 0%, 70%);
    cursor: pointer;
    scale: 105%;
    border-radius: 10px;
}
a:active, button:active {
    background-color: hsl(0, 0%, 60%);
    cursor: pointer;
    scale: 110%;
    border-radius: 15px;
}